/* NAV SECTION
icon overrides*/
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	content: "\f0c9";
	padding-right: 1rem;
    font-size: 15pt;
}
.fa-home:before {
	padding-right: 1rem;
    font-size: 15pt;
}
.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
    padding-right: .95rem;
    font-size: 15pt;
}
.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080";
    padding-right: 1rem;
    font-size: 15pt;
}
.fa-handshake:before {
    content: "\f2b5";
    padding-right: 1rem;
    font-size: 15pt;
}
.fa-heartbeat:before {
    content: "\f21e";
    padding-right: 1rem;
    font-size: 15pt;
}
.fa-group:before, .fa-users:before {
	content: "\f0c0";
	padding-right: 0.8rem;
    font-size: 15pt;
}
.fa-envelope-o:before {
	content: "\f003";
	padding-right: 1rem;
    font-size: 15pt;
}
.fa-angle-up:before {
    content: "\f106";
    padding-right: 1rem;
    font-size: 15pt;
}
.fa-times-circle:before {
    content: "\f057";
    padding-right: 1rem;
}
.fa-user-plus:before {
	content: "\f234";
	padding-right: 1rem;
    font-size: 15pt;
}
/* nav choices section*********/ 
.fa-bars:hover {
    color:#1976d2;
}
.fa-times-circle:hover {
    color:red;
}
.nav-list {
    position: fixed;
	transition: 0.5s;
	height: 0;
    width: 300px;
    z-index: 1;
    overflow-x: hidden; 
    background: #1d4672;
    background-image: 
    linear-gradient(
        rgb(43, 66, 90),
        rgb(10, 34, 56)
    );
}
.nav-contents {
    padding-left:1rem;
}
.side {
    padding: 1rem;
}
.username {
    padding-left: 1rem;
}
.nav-list ul {
    z-index: 1;
	list-style: none;
    color: #fff;
    margin-top:1rem;
    padding-left: 0;
}
.nav-item2 a {
	text-decoration: none;
	display: block;
    padding: .5rem .5rem .5rem 1rem;
    color: #fff;
    
}
.nav-item2 {
    font-size: 12pt;
    border-top-left-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
}
.nav-item2:hover {
    background: #1976d2;
}

/* Dashboard ************************************/
.nav-list2 {
    position: fixed;
	transition: 0.5s;
	height: 100%;
    width: 300px;
    z-index: 1;
    overflow-x: hidden; 
    background: #1d4672;
    background-image: 
    linear-gradient(
        rgb(43, 66, 90),
        rgb(10, 34, 56)
    );
}
