/* top nav code */
h4.brand {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 20pt!important;
    cursor: pointer;
    text-decoration: none;
}
.colors {
    background: #132e4b;
    color: #fff;
}

button.btn a {
    /* Note this button's <a> element is really small
    and anoying to click on, fix that later
    */
    color: #fff;
    text-decoration: none; 
}
.nav-item {
    color:#fff!important;
}
.nav-item a {
	text-decoration: none;
	display: block;
    padding: .5rem .5rem .5rem 1rem;
    color: #fff;
}
.nav-item:hover {
    color:#fff;
    border-bottom: solid #fff 1px;
    margin-bottom: -1px;
}
.font-b {
    font-size: 12pt!important;
}

/* sign up form links*/
.flex-center a {
    color: #fff;
    text-decoration: none; 
}
.colors2 {
    background:#1976d2;
}
/* Service Projects Section */
.service-details {
    margin-top: 2rem;
}
#project {
    padding-bottom: 2rem;
}
/* Service Project Results */
.list-group {
    margin-top: 0.5rem!important;
}
.project-btns {
    margin-top: 0.5rem;
}
.project-btns .col-md-6 {
    padding-left: 7px;
    padding-right: 7px;
}
/* Chapter Search Section */
.clubs-intro {
    padding: 1rem 0;
    text-align: center;
}

/* Donation Drive Styles ***/
.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}
.dataTable > thead > tr > th[class*="sort"]:before{
    content: "" !important;
}
/**** DASHBOARD ****/
.spacing {
    padding: 3rem 6rem;
}
.bg-style {
    background: linear-gradient(90deg, #FFF 65%, #1976d2 35%);
    border-radius: .25rem;
}
.side-data {
    color: #fff;
}
.card.activities {
    padding: 1rem;
    background: #1976d2;
} 