{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="clubs-intro text-center">
      <i class="fas fa-search-location"></i>  
      CKI Club Chapters
    </h2>
    <div class="table-responsive">
      <table id="dtBasicExample" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">University</th>
            <th scope="col">Total Members</th>
            <th scope="col">Total Service Hours</th>
            <th scope="col">Donations Raised</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Cell</td>
            <td>different Cell</td>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
        </tbody>
    </table>
</div>

{% endblock %}