{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="clubs-intro">{{user.chapter}} Service Projects</h2>
    <div class="row">
      {% for service_project in service_project_list %}
        {% if service_project_list and service_project.club_chapter == user.chapter %}
        <div class="col-md-4">
          <form id="project" method="post" novalidate action="{% url 'catalog:project_add_worker' service_project.project_ID %}">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{service_project.project_title}}</h4>
                <h6 class="text-muted">Project Lead: {{ service_project.project_leader }}</h6>
                <!--Below is default text-->
                <h6 class="text-muted">Spots Available: {{service_project.members_needed}}</h6>
                <h6 class="text-muted">Waitlist Spots: {{service_project.wait_list}}</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Project Date: {{service_project.datetime_start.date}}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Duration: {{service_project.datetime_start.time}} 
                    to {{service_project.datetime_end.time}}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Location: {{service_project.project_location}}
                  </li>
                </ul>
              </div>
              <div class="card-footer">
                {% csrf_token %}        
                <input class="btn btn-sm align-middle btn-blue font-b" 
                type="submit" value="Join Project"></input>
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}